
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
/*----------------*/

/*-------Navigation bar-------------------*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }
  
  body {
	font-family: "Josefin Sans", sans-serif;
  }
  .navbar {
    margin-bottom: 0;
   
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  .navbar li a, .navbar .navbar-brand {
    color: rgb(22, 20, 20) !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #242221 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
/*--------------------nav bar css ends here--------------*/


/*---------------------------Responsive container------------------------------------*/

.responsive {
  display: inline-block;
  position: relative;
  width: 100%;
background-size: contain;
height: 100%;
padding: 35px;

}

/*---------------------------Image Responsive ------------------------------------*/

.img_responsive {
	
	width: 46%;
	margin-top: 16%;
	margin-left: 15%;

}

/*--------------------------- Responsive Column------------------------------------*/

.column {

float: left;
width: 50%;
padding: 10px;

}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 300px) {
.row{
  width: 100%;
}
}


/*---------------------------Responsive container------------------------------------*/


p {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  position:static;

  
  

 
}
p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background:url(https://images.pexels.com/photos/2007660/pexels-photo-2007660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


/*------team.................................-*/

.team-section{
  background:white;
  text-align: center;
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  color: #333;
  overflow: hidden;
}
.team-section h1{
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 4px solid;
  padding-bottom: 10px;
}
.pe{
  float: left;
  width: calc(100% / 3);
  overflow: hidden;
  padding: 40px 0;
  transition: 0.4s;
}
.pe:hover{
  background: #ddd;
}
.pe img{
  width: 120px;
  height: 120px;
}
.pre-name{
  margin: 16px 0;
  text-transform: uppercase;
}
.pre-des{
  font-style: italic;
  color: #3498db;
}
.pre-sm{
  margin-top: 12px;
}
.pre-sm a{
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}
.pre-sm a:hover{
  transform: scale(1.3);
}
.pre-sm a i{
  color: rgb(126, 46, 46);
  line-height: 30px;
}
@media screen and (max-width:600px) {
  .pe{
    width: 100%;
  }
}
